# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.sqlite3-journal
media/
file_storage/error_file/

# Virtual environment
venv/
ENV/
env/

# Local environment files
.env
.env.*

# VS Code
.vscode/

# Mac and Windows system files
.DS_Store
Thumbs.db
