ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     MM
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   A09-01-LS0051-01
    PIPING-SPEC   13470
    INSULATION-SPEC   E  60 mm
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   ELECTRIC
    ATTRIBUTE63   559-0051-LS-2"-13470-E
    ATTRIBUTE65   -0.94
    ATTRIBUTE66   200
    ATTRIBUTE68   7
    ATTRIBUTE69   230
    ATTRIBUTE70   5
    ATTRIBUTE71   11.23
    ATTRIBUTE72   WATER
    ATTRIBUTE73   E
    ATTRIBUTE74   60
    ATTRIBUTE75   100
    ATTRIBUTE76   -
    ATTRIBUTE77   100
    ATTRIBUTE78   N
    ATTRIBUTE79   559-00-30-016,559-00-30-020
    ATTRIBUTE80   50019-H5-559-13-20-030
    ATTRIBUTE81   559
    ATTRIBUTE82   8
    ATTRIBUTE83   A09-01-LS0051-01
    ATTRIBUTE84   50019-H5-559-13-LS0051
    ATTRIBUTE85   559-SYS-036
    ATTRIBUTE86   LS
    ATTRIBUTE87   A0901LS005101.sha
    ATTRIBUTE67   -1
    ATTRIBUTE89   2
    ATTRIBUTE90   13470
    ATTRIBUTE91   E
    ATTRIBUTE92   A09-01
    ATTRIBUTE9   2025-06-11 15:29:26
    ATTRIBUTE93   CRI
    ATTRIBUTE94   NM-50019-H5-500-00-30-502
    ATTRIBUTE64   200
    ATTRIBUTE88   16
    MISC-SPEC3    UNDEFINED
    MISC-SPEC1    UNDEFINED
    MISC-SPEC2    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
FLANGE
    COMPONENT-IDENTIFIER    1
    END-POINT    5474844.800    10209900.200    102650.000     2    
    END-POINT    5474774.800    10209900.200    102650.000     2    
    SKEY    FLWN
    MATERIAL-IDENTIFIER 1
    UCI    {00013885-0000-0000-9A42-AC3EF2668AFF}
    INSULATION-SPEC    E  60 mm
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC3    UNDEFINED
    MISC-SPEC1    UNDEFINED
    MISC-SPEC2    UNDEFINED
    PIPING-SPEC    13470
    FABRICATION-ITEM
    WEIGHT    4.040
GASKET
    COMPONENT-IDENTIFIER    2
    MASTER-COMPONENT-IDENTIFIER    1
    END-POINT    5474844.800    10209900.200    102650.000     2    
    END-POINT    5474847.800    10209900.200    102650.000     2    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-6B1C-951E9367D2EB}
    MATERIAL-IDENTIFIER 2
    INSULATION-SPEC    E  60 mm
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC3    UNDEFINED
    MISC-SPEC1    UNDEFINED
    MISC-SPEC2    UNDEFINED
    PIPING-SPEC    13470
BOLT
    COMPONENT-IDENTIFIER    3
    MASTER-COMPONENT-IDENTIFIER    1
    CO-ORDS    5474844.800    10209900.200    102650.000        
    UCI    {000138A9-0000-0000-4B14-EF7B946772C6}
    BOLT-DIA     .625
    BOLT-LENGTH     0
    BOLT-QUANTITY    8
    MATERIAL-IDENTIFIER 3
    ERECTION-ITEM
PIPE
    COMPONENT-IDENTIFIER    4
    END-POINT    5474674.800    10209900.200    102650.000     2    
    END-POINT    5474774.800    10209900.200    102650.000     2    
    FABRICATION-ITEM
    INSULATION-SPEC    E  60 mm
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC3    UNDEFINED
    MISC-SPEC1    UNDEFINED
    MISC-SPEC2    UNDEFINED
    PIPING-SPEC    13470
    WEIGHT    4.497
    UCI    {0001388C-0000-0000-DF41-AC3EF2668AFF}
    MATERIAL-IDENTIFIER 4
    CUT-PIECE-LENGTH    100.00
WELD
    COMPONENT-IDENTIFIER    5
    MASTER-COMPONENT-IDENTIFIER    4
    END-POINT    5474774.800    10209900.200    102650.000     2    
    END-POINT    5474774.800    10209900.200    102650.000     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-A842-AC3EF2668AFF}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    559-0051-LS
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    COMPONENT-IDENTIFIER    6
    END-POINT    5474598.800    10209976.200    102650.000     2    BW
    END-POINT    5474674.800    10209900.200    102650.000     2    BW
    CENTRE-POINT    5474598.800    10209900.200    102650.000        
    SKEY    EL**
    MATERIAL-IDENTIFIER 5
    UCI    {00013885-0000-0000-D841-AC3EF2668AFF}
    INSULATION-SPEC    E  60 mm
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC3    UNDEFINED
    MISC-SPEC1    UNDEFINED
    MISC-SPEC2    UNDEFINED
    PIPING-SPEC    13470
    FABRICATION-ITEM
    WEIGHT    0.556
WELD
    COMPONENT-IDENTIFIER    7
    MASTER-COMPONENT-IDENTIFIER    6
    END-POINT    5474598.800    10209976.200    102650.000     2    
    END-POINT    5474598.800    10209976.200    102650.000     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4842-AC3EF2668AFF}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    559-0051-LS
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    COMPONENT-IDENTIFIER    8
    MASTER-COMPONENT-IDENTIFIER    6
    END-POINT    5474674.800    10209900.200    102650.000     2    
    END-POINT    5474674.800    10209900.200    102650.000     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4A42-AC3EF2668AFF}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    559-0051-LS
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    COMPONENT-IDENTIFIER    9
    END-POINT    5474598.800    10210356.200    102650.000     2    
    END-POINT    5474598.800    10209976.200    102650.000     2    
    FABRICATION-ITEM
    INSULATION-SPEC    E  60 mm
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC3    UNDEFINED
    MISC-SPEC1    UNDEFINED
    MISC-SPEC2    UNDEFINED
    PIPING-SPEC    13470
    WEIGHT    4.497
    UCI    {0001388C-0000-0000-3F0E-108B3567ECC5}
    MATERIAL-IDENTIFIER 4
    CUT-PIECE-LENGTH    380.00
WELD
    COMPONENT-IDENTIFIER    10
    MASTER-COMPONENT-IDENTIFIER    9
    END-POINT    5474598.800    10210356.200    102650.000     2    
    END-POINT    5474598.800    10210356.200    102650.000     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-F802-A2527667EE96}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    559-0051-LS
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    COMPONENT-IDENTIFIER    11
    END-POINT    5474598.800    10210420.200    102650.000     2    
    END-POINT    5474598.800    10210356.200    102650.000     2    
    SKEY    FLWN
    MATERIAL-IDENTIFIER 6
    UCI    {00013885-0000-0000-EC01-A2527667EE96}
    INSULATION-SPEC    E  60 mm
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC3    UNDEFINED
    MISC-SPEC1    UNDEFINED
    MISC-SPEC2    UNDEFINED
    PIPING-SPEC    13470
    FABRICATION-ITEM
    WEIGHT    2.736
GASKET
    COMPONENT-IDENTIFIER    12
    MASTER-COMPONENT-IDENTIFIER    11
    END-POINT    5474598.800    10210423.200    102650.000     2    
    END-POINT    5474598.800    10210420.200    102650.000     2    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-FB02-A2527667EE96}
    MATERIAL-IDENTIFIER 7
    INSULATION-SPEC    E  60 mm
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC3    UNDEFINED
    MISC-SPEC1    UNDEFINED
    MISC-SPEC2    UNDEFINED
    PIPING-SPEC    13470
BOLT
    COMPONENT-IDENTIFIER    13
    MASTER-COMPONENT-IDENTIFIER    11
    CO-ORDS    5474598.800    10210420.200    102650.000        
    UCI    {000138A9-0000-0000-FC02-A2527667EE96}
    BOLT-DIA     .625
    BOLT-LENGTH     0
    BOLT-QUANTITY    4
    MATERIAL-IDENTIFIER 8
    ERECTION-ITEM
FLANGE
    COMPONENT-IDENTIFIER    14
    END-POINT    5474598.800    10210423.200    102650.000     2    
    END-POINT    5474598.800    10210487.200    102650.000     2    
    SKEY    FLWN
    MATERIAL-IDENTIFIER 6
    UCI    {00013885-0000-0000-FA01-A2527667EE96}
    INSULATION-SPEC    E  60 mm
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC3    UNDEFINED
    MISC-SPEC1    UNDEFINED
    MISC-SPEC2    UNDEFINED
    PIPING-SPEC    13470
    FABRICATION-ITEM
    WEIGHT    2.736
PIPE
    COMPONENT-IDENTIFIER    15
    END-POINT    5474598.800    10212397.601    102650.000     2    
    END-POINT    5474598.800    10210487.200    102650.000     2    
    FABRICATION-ITEM
    INSULATION-SPEC    E  60 mm
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC3    UNDEFINED
    MISC-SPEC1    UNDEFINED
    MISC-SPEC2    UNDEFINED
    PIPING-SPEC    13470
    WEIGHT    4.497
    UCI    {0001388C-0000-0000-F401-A2527667EE96}
    MATERIAL-IDENTIFIER 4
    CUT-PIECE-LENGTH    1910.40
SUPPORT
    CO-ORDS    5474598.800    10210750.200    102650.000     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    MATERIAL-IDENTIFIER 9
    SUPPORT-TYPE    Pipe Support
    WEIGHT    0.000
    UCI    {00022303-0000-0000-C708-721B3367E6C0}
    NAME    PFHSPA_PY_WP-01-8061
    ERECTION-ITEM
    MESSAGE
    TEXT    WP-2-350-SS-10S
SUPPORT
    CO-ORDS    5474598.800    10211995.000    102650.000     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    MATERIAL-IDENTIFIER 10
    SUPPORT-TYPE    Pipe Support
    WEIGHT    10.739
    UCI    {00022303-0000-0000-4966-7B537966121D}
    NAME    PFHSPA_SY_MT1_B_1-01-1024
    ERECTION-ITEM
    MESSAGE
    TEXT    MT1-B-1-220-380
    MESSAGE
    TEXT    PS-A0901LS0051-004
SUPPORT
    CO-ORDS    5474598.800    10211030.200    102650.000     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    MATERIAL-IDENTIFIER 11
    SUPPORT-TYPE    Pipe Support
    WEIGHT    4.850
    UCI    {00022303-0000-0000-BE08-721B3367E6C0}
    NAME    PFHSPA_PY_S1-01-8691
    ERECTION-ITEM
    MESSAGE
    TEXT    S1-2-2-300-SS
SUPPORT
    CO-ORDS    5474598.800    10212000.463    102650.000     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    MATERIAL-IDENTIFIER 12
    SUPPORT-TYPE    Pipe Support
    WEIGHT    0.000
    UCI    {00022303-0000-0000-BA08-721B3367E6C0}
    NAME    PFHSPA_PY_SG1-01-6211
    ERECTION-ITEM
    MESSAGE
    TEXT    SG1-2
SUPPORT
    CO-ORDS    5474598.800    10211030.200    102650.000     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    MATERIAL-IDENTIFIER 13
    SUPPORT-TYPE    Pipe Support
    WEIGHT    1.778
    UCI    {00022303-0000-0000-C208-721B3367E6C0}
    NAME    PFHSPA_PY_SLS1-01-2341
    ERECTION-ITEM
    MESSAGE
    TEXT    SLS1-2
    MESSAGE
    TEXT    LINE STOP GAP=0MM
SUPPORT
    CO-ORDS    5474598.800    10212000.463    102650.000     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    MATERIAL-IDENTIFIER 14
    SUPPORT-TYPE    Pipe Support
    WEIGHT    4.384
    UCI    {00022303-0000-0000-B608-721B3367E6C0}
    NAME    PFHSPA_PY_S2-01-6281
    ERECTION-ITEM
    MESSAGE
    TEXT    S2-2-2-200-SS
SUPPORT
    CO-ORDS    5474598.800    10211030.200    102650.000     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    MATERIAL-IDENTIFIER 15
    SUPPORT-TYPE    Pipe Support
    WEIGHT    15.699
    UCI    {00022303-0000-0000-53A1-956131672E36}
    NAME    PFHSPA_SY_SB2_4-01-3244
    ERECTION-ITEM
    MESSAGE
    TEXT    SB2-4-360-517
    MESSAGE
    TEXT    PS-A0901LS0051-003
WELD
    COMPONENT-IDENTIFIER    16
    MASTER-COMPONENT-IDENTIFIER    15
    END-POINT    5474598.800    10212397.601    102650.000     2    
    END-POINT    5474598.800    10212397.601    102650.000     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4B14-108B3567ECC5}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    559-0051-LS
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    COMPONENT-IDENTIFIER    17
    MASTER-COMPONENT-IDENTIFIER    15
    END-POINT    5474598.800    10210487.200    102650.000     2    
    END-POINT    5474598.800    10210487.200    102650.000     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-FE02-A2527667EE96}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    559-0051-LS
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
TEE
    COMPONENT-IDENTIFIER    18
    END-POINT    5474598.800    10212525.601    102650.000     2    BW
    END-POINT    5474598.800    10212397.601    102650.000     2    BW
    CENTRE-POINT    5474598.800    10212461.601    102650.000        
    BRANCH1-POINT    5474662.800    10212461.601    102650.000     2    BW
    SKEY    TE**
    MATERIAL-IDENTIFIER 16
    UCI    {00013885-0000-0000-3913-108B3567ECC5}
    INSULATION-SPEC    E  60 mm
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC3    UNDEFINED
    MISC-SPEC1    UNDEFINED
    MISC-SPEC2    UNDEFINED
    PIPING-SPEC    13470
    FABRICATION-ITEM
    WEIGHT    0.979
WELD
    COMPONENT-IDENTIFIER    19
    MASTER-COMPONENT-IDENTIFIER    18
    END-POINT    5474598.800    10212525.601    102650.000     2    
    END-POINT    5474598.800    10212525.601    102650.000     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4E14-108B3567ECC5}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    559-0051-LS
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
TEE
    COMPONENT-IDENTIFIER    20
    END-POINT    5474598.800    10212653.601    102650.000     2    BW
    END-POINT    5474598.800    10212525.601    102650.000     2    BW
    CENTRE-POINT    5474598.800    10212589.601    102650.000        
    BRANCH1-POINT    5474598.800    10212589.601    102599.000     1    BW
    SKEY    TE**
    MATERIAL-IDENTIFIER 17
    UCI    {00013885-0000-0000-EE45-09943567FFB8}
    INSULATION-SPEC    E  60 mm
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC3    UNDEFINED
    MISC-SPEC1    UNDEFINED
    MISC-SPEC2    UNDEFINED
    PIPING-SPEC    13470
    FABRICATION-ITEM
    WEIGHT    0.861
WELD
    COMPONENT-IDENTIFIER    21
    MASTER-COMPONENT-IDENTIFIER    20
    END-POINT    5474598.800    10212653.601    102650.000     2    
    END-POINT    5474598.800    10212653.601    102650.000     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-0246-09943567FFB8}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    559-0051-LS
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    COMPONENT-IDENTIFIER    22
    END-POINT    5474762.800    10212461.601    102650.000     2    
    END-POINT    5474662.800    10212461.601    102650.000     2    
    FABRICATION-ITEM
    INSULATION-SPEC    E  60 mm
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    MISC-SPEC1    UNDEFINED
    MISC-SPEC2    UNDEFINED
    PIPING-SPEC    13470
    WEIGHT    4.497
    UCI    {0001388C-0000-0000-8119-108B3567ECC5}
    MATERIAL-LIST    EXCLUDE
    MATERIAL-IDENTIFIER 4
    CONTINUATION
WELD
    COMPONENT-IDENTIFIER    23
    MASTER-COMPONENT-IDENTIFIER    22
    END-POINT    5474662.800    10212461.601    102650.000     2    
    END-POINT    5474662.800    10212461.601    102650.000     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-EC19-108B3567ECC5}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    559-0246-LS
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
    STATUS    DOTTED-UNDIMENSIONED
    MATERIAL-LIST    EXCLUDE
PIPE
    COMPONENT-IDENTIFIER    24
    END-POINT    5474598.800    10212791.100    102650.000     2    
    END-POINT    5474598.800    10212653.601    102650.000     2    
    FABRICATION-ITEM
    INSULATION-SPEC    E  60 mm
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC3    UNDEFINED
    MISC-SPEC1    UNDEFINED
    MISC-SPEC2    UNDEFINED
    PIPING-SPEC    13470
    WEIGHT    4.497
    UCI    {0001388C-0000-0000-F545-09943567FFB8}
    MATERIAL-LIST    EXCLUDE
    MATERIAL-IDENTIFIER 4
    CONTINUATION
PIPE
    COMPONENT-IDENTIFIER    25
    END-POINT    5474598.800    10212589.601    102542.000     1    
    END-POINT    5474598.800    10212589.601    102599.000     1    
    ERECTION-ITEM
    INSULATION-SPEC    E  60 mm
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC3    UNDEFINED
    MISC-SPEC1    UNDEFINED
    MISC-SPEC2    UNDEFINED
    PIPING-SPEC    13470
    WEIGHT    2.940
    UCI    {0001388C-0000-0000-0B75-BBC59167FABF}
    MATERIAL-LIST    EXCLUDE
    MATERIAL-IDENTIFIER 18
    CONTINUATION
WELD
    COMPONENT-IDENTIFIER    26
    MASTER-COMPONENT-IDENTIFIER    25
    END-POINT    5474598.800    10212589.601    102599.000     1    
    END-POINT    5474598.800    10212589.601    102599.000     1    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-2B75-BBC59167FABF}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    559-0051-LS
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
    STATUS    DOTTED-UNDIMENSIONED
    MATERIAL-LIST    EXCLUDE
FLOW-ARROW
    CO-ORDS    5474598.800    10211442.401    102650.000
    FLOW 2
    SKEY FLOW
END-CONNECTION-EQUIPMENT
    CO-ORDS    5474847.800    10209900.200    102650.000
    CONNECTION-REFERENCE  559-V-105/N1$2 in RFFE 300
END-CONNECTION-PIPELINE
    CO-ORDS    5474762.800    10212461.601    102650.000
    CONNECTION-REFERENCE  A09-01-LS0246-01$559-0246-LS
END-CONNECTION-PIPELINE
    CO-ORDS    5474598.800    10212791.100    102650.000
    CONNECTION-REFERENCE  A09-01-LS0051-02$559-0051-LS
END-CONNECTION-PIPELINE
    CO-ORDS    5474598.800    10212589.601    102542.000
    CONNECTION-REFERENCE  A09-01-LS0051-08$559-0051-LS
MATERIALS
MATERIAL-IDENTIFIER    1
    ITEM-CODE FLGW0009493
    DESCRIPTION    2" Sch10S, Flange WN ASME B16.5 CL 300 RF ASTM A182 GR F316/316L dual cert NACE MR0175/ISO 15156
MATERIAL-IDENTIFIER    2
    ITEM-CODE GKTS0001230
    DESCRIPTION    2", Gasket spiral wound 4.5mm thk CL 300 winding SS316L graphite filled inner ring SS316L centering ring CS ASME B16.20 to suit ASME B16.5 NACE MR0175/ISO 15156
MATERIAL-IDENTIFIER    3
    ITEM-CODE BLTS0280387
    DESCRIPTION    5/8" * 90mm, Stud bolt A193 B8M CL1/A194 8MA 2 nuts dim B18.2.1/18.2.2 thrd B1.1 CL 2A/2B UNC fluorocarbon polymer coated
MATERIAL-IDENTIFIER    4
    ITEM-CODE PIPM0005660
    DESCRIPTION    2" Sch10S, Pipe BE ASME B36.19M smls ASTM A312 GR TP316/316L dual cert NACE MR0175/ISO 15156
MATERIAL-IDENTIFIER    5
    ITEM-CODE ELWN0006226
    DESCRIPTION    2" Sch10S, Elbow 90 deg BW ASME B16.9 LR smls ASTM A403 GR WP316/316L-S dual cert NACE MR0175/ISO 15156
MATERIAL-IDENTIFIER    6
    ITEM-CODE FLGW0009239
    DESCRIPTION    2" Sch10S, Flange WN ASME B16.5 CL 150 RF ASTM A182 GR F316/316L dual cert NACE MR0175/ISO 15156
MATERIAL-IDENTIFIER    7
    ITEM-CODE GKTS0002034
    DESCRIPTION    2", Gasket spiral wound 4.5mm thk CL 150 winding SS316L graphite filled inner ring SS316L centering ring CS ASME B16.20 to suit ASME B16.5 NACE MR0175/ISO 15156
MATERIAL-IDENTIFIER    8
    ITEM-CODE BLTS0280394
    DESCRIPTION    5/8" * 85mm, Stud bolt A193 B8M CL1/A194 8MA 2 nuts dim B18.2.1/18.2.2 thrd B1.1 CL 2A/2B UNC fluorocarbon polymer coated
MATERIAL-IDENTIFIER    9
    ITEM-CODE WP-2-350-SS-10S
    DESCRIPTION    WP - WEAR PAD
MATERIAL-IDENTIFIER    10
    ITEM-CODE MT1-B-1-220-380
    DESCRIPTION    MT1 - MINOR TEE POST
MATERIAL-IDENTIFIER    11
    ITEM-CODE S1-2-2-300-SS
    DESCRIPTION    S1 - PIPE SHOE
MATERIAL-IDENTIFIER    12
    ITEM-CODE SG1-2
    DESCRIPTION    SG1 - GUIDE ON PIPE SHOE
MATERIAL-IDENTIFIER    13
    ITEM-CODE SLS1-2
    DESCRIPTION    SLS1 - LINE STOP ON PIPE SHOE
MATERIAL-IDENTIFIER    14
    ITEM-CODE S2-2-2-200-SS
    DESCRIPTION    S2 - CLAMPED PIPE SHOE
MATERIAL-IDENTIFIER    15
    ITEM-CODE SB2-4-360-517
    DESCRIPTION    SB2 - SUSPENDED BRACKET(WITH ONE SIDE PROJECTION)
MATERIAL-IDENTIFIER    16
    ITEM-CODE TEWE0004723
    DESCRIPTION    2" Sch10S, Tee equal BW ASME B16.9 smls ASTM A403 GR WP316/316L-S dual cert NACE MR0175/ISO 15156
MATERIAL-IDENTIFIER    17
    ITEM-CODE TEWR0087019
    DESCRIPTION    2" Sch10S * 1" Sch40S, Tee reducing BW ASME B16.9 smls ASTM A403 GR WP316/316L-S dual cert NACE MR0175/ISO 15156
MATERIAL-IDENTIFIER    18
    ITEM-CODE PIPM0000238
    DESCRIPTION    1" Sch40S, Pipe BE ASME B36.19M smls ASTM A312 GR TP316/316L dual cert NACE MR0175/ISO 15156
