asgiref
beautifulsoup4
crispy-bootstrap4
Django
django-crispy-forms
django-easy-audit
django-environ
et_xmlfile
numpy
openpyxl
packaging
pandas
psycopg[binary]
python-dateutil
pytz
setuptools
six
soupsieve
sqlparse
typing_extensions
tzdata
wheel
