{%load crispy_forms_tags %} 

<form method="post" action="{% url 'update_project_data' project_id %}">
    {% csrf_token %} 
        <div class="form-row">
            <div class="form-group col-md-4 mb-2">
              {{ form.proj_id|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-2">               
            </div>
            <div class="form-group col-md-2 mb-2">
                {{ form.vendor|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-1">
                {{ form.startup_t|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-12">
                {{ form.min_amb_t|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-1">
                {{ form.max_amb_t|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-1">
                {{ form.voltage|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-1">
                {{ form.max_cb_size|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-1">
                {{ form.restrict_cb_current|as_crispy_field }}
              </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-1">
                {{ form.allowablevdrop|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-1">
                {{ form.voltage_var_factor|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-1">
                {{ form.res_tol|as_crispy_field }}
              </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-1">
                {{ form.spiral_factor|as_crispy_field }} 
              </div>
              <div class="form-group col-md-4 mb-1">
                {{ form.heat_loss_sf|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-1">
                {{ form.wind_speed|as_crispy_field }}
              </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-1">
                {{ form.margin_on_tracer_lengths|as_crispy_field }}  
              </div>
              <div class="form-group col-md-4 mb-1">
                {{ form.termination_margin|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-1">
                {{ form.spiral_wrap_allowed|as_crispy_field }}
              </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-1">
                {{ form.rtd_thrm|as_crispy_field }}  
              </div>
              <div class="form-group col-md-4 mb-1">
                {{ form.isolator_location|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-1">
                {{ form.caution_label_interval|as_crispy_field }}
              </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-1">
                {{ form.ckt_ln|as_crispy_field }}  
              </div>
              <div class="form-group col-md-4 mb-1">
                {{ form.loop_ln|as_crispy_field }}
              </div>
              <div class="form-group col-md-2 mb-1">
                {{ form.area_class|as_crispy_field }}  
              </div>
              <div class="form-group col-md-2 mb-1">
                {{ form.temp_class|as_crispy_field }}
              </div>
        </div>    
        <button type="submit" class="btn btn-primary">Save</button>
       <button type="submit" class="btn btn-secondary">Default Project data</button>
       <button type="submit" class="btn btn-info">Navigate to Input page</button>
    </form>
</form>