{%load crispy_forms_tags %} 

<form method="post" id="project-data-form" action="{% url 'update_project_data' project_id %}">
    {% csrf_token %} 
        <div class="row g-3">
            <div class="col-lg-4">
              {{ form.proj_id|as_crispy_field }}
            </div>
            <div class="col-lg-4">
                {{ form.vendor|as_crispy_field }}
            </div>
            <div class="col-lg-4">
                {{ form.heat_loss_method|as_crispy_field }}
            </div>
        </div>
        <div class="row g-3 mt-1">
            <div class="col-lg-4">
                {{ form.startup_t|as_crispy_field }}
            </div>
            <div class="col-lg-4">
                {{ form.min_amb_t|as_crispy_field }}
            </div>
            <div class="col-lg-4">
                {{ form.max_amb_t|as_crispy_field }}
            </div>
        </div>
        <div class="row g-3 mt-1">
            <div class="col-lg-4">
                {{ form.voltage|as_crispy_field }}
              </div>
              <div class="col-lg-4">
                {{ form.max_cb_size|as_crispy_field }}
              </div>
              <div class="col-lg-4">
                {{ form.restrict_cb_current|as_crispy_field }}
              </div>
        </div>
        <div class="row g-3 mt-1">
            <div class="col-lg-4">
                {{ form.allowablevdrop|as_crispy_field }}
              </div>
              <div class="col-lg-4">
                {{ form.voltage_var_factor|as_crispy_field }}
              </div>
              <div class="col-lg-4">
                {{ form.res_tol|as_crispy_field }}
              </div>
        </div>
        <div class="row g-3 mt-1">
            <div class="col-lg-4">
                {{ form.cable_standard|as_crispy_field }}
            </div>
            <div class="col-lg-4">
                {{ form.cable_conductor_material|as_crispy_field }}
            </div>
            <div class="col-lg-4">
                {{ form.cable_insulation_type|as_crispy_field }}
            </div>
        </div>
        <div class="row g-3 mt-1">
            <div class="col-lg-4">
                {{ form.cable_install_method|as_crispy_field }}
            </div>
            <div class="col-lg-4">
                {{ form.cable_grouping_derating|as_crispy_field }}
            </div>
            <div class="col-lg-4">
                {{ form.min_cold_cable_size_mm2|as_crispy_field }}
            </div>
        </div>
        <div class="row g-3 mt-1">
            <div class="col-lg-4">
                {{ form.mcb_curve|as_crispy_field }}
            </div>
            <div class="col-lg-4">
                {{ form.gfep_provided|as_crispy_field }}
            </div>
        </div>
        <div class="row g-3 mt-1">
            <div class="col-lg-4">
                {{ form.spiral_factor|as_crispy_field }} 
              </div>
              <div class="col-lg-4">
                {{ form.sr_parallel_run_basis|as_crispy_field }}
              </div>
              <div class="col-lg-4">
                {{ form.sr_max_parallel_runs|as_crispy_field }}
              </div>
        </div>
        <div class="row g-3 mt-1">
            <div class="col-lg-4">
                {{ form.heat_loss_sf|as_crispy_field }}
              </div>
              <div class="col-lg-4">
                {{ form.wind_speed|as_crispy_field }}
              </div>
              <div class="col-lg-4">
                {{ form.spiral_wrap_allowed|as_crispy_field }}
              </div>
        </div>
        <div class="row g-3 mt-1">
            <div class="col-lg-4">
                {{ form.margin_on_tracer_lengths|as_crispy_field }}  
              </div>
              <div class="col-lg-4">
                {{ form.termination_margin|as_crispy_field }}
              </div>
        </div>
        <div class="row g-3 mt-1">
            <div class="col-lg-4">
                {{ form.rtd_thrm|as_crispy_field }}  
              </div>
              <div class="col-lg-4">
                {{ form.isolator_location|as_crispy_field }}
              </div>
              <div class="col-lg-4">
                {{ form.caution_label_interval|as_crispy_field }}
              </div>
        </div>
        <div class="row g-3 mt-1">
            <div class="col-lg-4">
                {{ form.ckt_ln|as_crispy_field }}  
              </div>
              <div class="col-lg-4">
                {{ form.loop_ln|as_crispy_field }}
              </div>
              <div class="col-lg-2">
                {{ form.area_class|as_crispy_field }}  
              </div>
              <div class="col-lg-2">
                {{ form.temp_class|as_crispy_field }}
              </div>
        </div>    
        <div class="mt-4 d-flex flex-wrap gap-2">
            <button type="submit" class="btn btn-primary btn-premium" name="action" value="save">
                <i class="bi bi-floppy me-1"></i>
                Save
            </button>
            <button type="submit" class="btn btn-outline-secondary btn-premium" name="action" value="load_defaults" formnovalidate>
                <i class="bi bi-magic me-1"></i>
                Load Defaults
            </button>
        </div>
        <p class="text-muted small mt-3 mb-0">Refer to Note 1 for valve, flange, and support factors.</p>
</form>
