<!doctype html>
<html lang="en">
<!-- Sidebar Column -->
<div id="sidebar" class="sidebar p-0 bg-light">

    <!-- Sidebar Content -->
    <div class="flex-shrink-0 p-3 bg-light" style="height: 100vh;">
        <h5 class="mb-4">eTrace Sidebar</h5>                        
        <ul class="list-unstyled ps-0">

            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed fw-semibold" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                <i class="bi bi-house-door-fill"></i> Home
              </button>
              <div class="collapse show ms-3" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li class="mb-1 ms-4"><a href="#" class="link-dark rounded">Overview</a></li>
                  <li class="mb-1 ms-4"><a href="#" class="link-dark rounded">Updates</a></li>
                  <li class="mb-1 ms-4"><a href="#" class="link-dark rounded">Reports</a></li>
                </ul>
              </div>
            </li>

            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed fw-semibold" data-bs-toggle="collapse" data-bs-target="#Dashboard-collapse" aria-expanded="true">
                    <i class="bi bi-clipboard2-pulse-fill"></i> Dashboard
                </button>
                <div class="collapse show ms-3" id="Dashboard-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li class="mb-1 ms-4"><a href="#" class="link-dark rounded">Heatmap</a></li>
                    <li class="mb-1 ms-4"><a href="#" class="link-dark rounded">BOQ summary</a></li>
                    <li class="mb-1 ms-4"><a href="#" class="link-dark rounded">Cable details</a></li>
                  </ul>
                </div>
              </li>

              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed fw-semibold" data-bs-toggle="collapse" data-bs-target="#Profile-collapse" aria-expanded="true">
                    <i class="bi bi-people-fill"></i> Profile
                </button>
                <div class="collapse show ms-3" id="Profile-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li class="mb-1 ms-4"><a href="#" class="link-dark rounded">Request access</a></li>
                    <li class="mb-1 ms-4"><a href="#" class="link-dark rounded">Update profile</a></li>
                    <li class="mb-1 ms-4"><a href="#" class="link-dark rounded">Change password</a></li>
                  </ul>
                </div>
              </li>

              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed fw-semibold" data-bs-toggle="collapse" data-bs-target="#Project-details-collapse" aria-expanded="true">
                    <i class="bi bi-file-text-fill"></i> Project details
                </button>
                <div class="collapse show ms-3" id="Project-details-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li class="mb-1 ms-4"><a href="#" class="link-dark rounded">Project setup</a></li>
                    <li class="mb-1 ms-4"><a href="#" class="link-dark rounded">Update parameters</a></li>
                    <li class="mb-1 ms-4"><a href="#" class="link-dark rounded">Historical project data</a></li>
                  </ul>
                </div>
              </li>         
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed fw-semibold" data-bs-toggle="collapse" data-bs-target="#Project-details-collapse" aria-expanded="true">
                    <i class="bi bi-collection-fill"></i> Vendor Cat..
                </button>
                <div class="collapse show ms-3" id="Project-details-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li class="mb-1 ms-4"><a href="#" class="link-dark rounded">Thermon</a></li>
                    <li class="mb-1 ms-4"><a href="#" class="link-dark rounded">Chromalox</a></li>
                    <li class="mb-1 ms-4"><a href="#" class="link-dark rounded">nVent</a></li>
                    <li class="mb-1 ms-4"><a href="#" class="link-dark rounded">SST</a></li>
                  </ul>
                </div>
              </li>

              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed fw-semibold" data-bs-toggle="collapse" data-bs-target="#FAQs-collapse" aria-expanded="true">
                    <i class="bi bi-question-circle-fill"></i> FAQs
                </button>                           
              </li>                      
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed fw-semibold" data-bs-toggle="collapse" data-bs-target="#FAQs-collapse" aria-expanded="true">
                    <i class="bi bi-info-circle-fill"></i> User manual
                </button>                           
              </li> 
        </ul>          
    </div>                
</div>

</html>